.stroke-text {
    -webkit-text-fill-color: #fff;
    color: #fff;
    letter-spacing: 3.48px;
    text-shadow:
        -2px -2px 0 #0B090A,
        0 -2px 0 #0B090A,
        2px -2px 0 #0B090A,
        2px 0 0 #0B090A,
        2px 2px 0 #0B090A,
        0 2px 0 #0B090A,
        -2px 2px 0 #0B090A,
        -2px 0 0 #0B090A;
}
